html {
  height: 100%;
  background: linear-gradient(rgb(70, 60, 128), rgb(20, 23, 41)); 
}

.body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: sans-serif;
  background: linear-gradient(blue, black);
}

.contmain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: black;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.contmain h2 {
  margin: 0 0 30px;
  padding: 0px;
  color: aliceblue;
  text-align: center;
}

.contmain .contuser {
  position: relative;
}

.contmain .contuser input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: aliceblue;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.contmain .contuser label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.contmain .contuser input:focus~label,
.contmain .contuser input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.register p {
  color: aliceblue;
  cursor: pointer;
  font-size: 10px;
  text-align: end;
  justify-content: center;

}

.FormControlLabel {
  margin-right: 77px;
}

.sel :hover {
  color: #03e9f4;
}

.sel {
  justify-content: center;
  display: flex;
}

.sel p {
  color: aliceblue;
  cursor: pointer;
  font-size: 1rem;
  text-align: end;
  justify-content: center;

}

p:hover {
  color: #03e9f4;
}

.contmain form .buton a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #83e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.contmain .buton a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #83e9f4, 0 0 25px #83e9f4, 0 0 50px #83e9f4, 0 0 100px #83e9f4;
}

.contmain a span {
  position: absolute;
  display: block;
}

.contmain a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.contmain a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100px;
  background: linear-gradient(100deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

.register a {
  color: white;
  justify-content: flex-end;
  display: flex;
  font-size: 12px;
  text-decoration: none;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.contmain a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s Linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%
  }
}

.contmain a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s Linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%
  }
}